@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

.ListMenu {
  text-align: center;
}

.ListMenu-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .ListMenu-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ListMenu-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.order-item-container {
  display: flex;
  align-items: center;
}

.order-item-details {
  margin-left: 10px;
}

.order-item-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.order-list {
  width: 410px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 30px;
  color: var(--color-golden);
}

.total {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  width: 410px;
  margin: 0 auto;
  font-size: 30px;
  color: var(--color-golden);
}


.ListMenu-link {
  color: #61dafb;
}

.header {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  text-align: center;


}

@media screen and (min-width: 2000px) {
  .headtext__cormorant {
    font-size: 150px; /* Adjusted font size for large screens */
    line-height: 210px; /* Adjusted line height for large screens */
  }
}

@media screen and (max-width: 450px) {
  .headtext__cormorant {
    font-size: 45px; /* Adjusted font size for small screens */
    line-height: 70px; /* Adjusted line height for small screens */
  }
}

@keyframes ListMenu-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}